<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <link href="./css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
  <meta charset="UTF-8">
  <title>홈 화면</title>
</head>
<body>
<div class="container">

  <div class="text-center py-5">
    <h2>근처 주소를 입력해주세요</h2>
  </div>

  <div class="row">
    <div th:unless="${userName}" class="col">
      <button type="button" class="btn btn-primary" th:onclick="|location.href='@{/oauth2/authorization/google}'|">구글 로그인</button>
      <button type="button" class="btn btn-success" th:onclick="|location.href='@{/oauth2/authorization/naver}'|">네이버 로그인</button>
    </div>
    <div th:if="${userName}" class="col">
      <button type="button" class="btn btn-primary" th:onclick="|location.href='@{/logout}'|">로그아웃</button>
    </div>
  </div>

  <hr class="my-2">

  <form th:action="@{/stations}">
    <div class="row">
      <div class="col-10">
        <input type="text" id="address" name="address" class="form-control" placeholder="서울특별시 은평구 신사동 41-3 신사동 성당">
      </div>
      <div class="col">
        <button type="submit" class="btn btn-outline-danger">검색</button>
      </div>
    </div>
  </form>

</div>
</body>
</html>