<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <link href="./css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
  <meta charset="UTF-8">
  <title>홈 화면</title>
</head>
<body>
<div class="container">

  <div class="text-center py-5">
    <h2>근처 주소를 입력해주세요</h2>
  </div>

  <div class="row">
    <div th:unless="${user}" class="col">
      <button type="button" class="btn btn-primary" th:onclick="|location.href='@{/oauth2/authorization/google}'|">구글 로그인</button>
      <button type="button" class="btn btn-success" th:onclick="|location.href='@{/oauth2/authorization/naver}'|">네이버 로그인</button>
    </div>
    <div th:if="${user}" class="col" th:text="${user.getName()} + '님 어서오세요'"></div>
    <div th:if="${user}" class="col">
      <button type="button" class="btn btn-primary" th:onclick="|location.href='@{/logout}'|">로그아웃</button>
    </div>
  </div>

  <hr class="my-2">

  <form th:action="@{/stations}">
    <div class="row">
      <div class="col-10">
        <input type="text" id="address" name="address" class="form-control" placeholder="서울특별시 은평구 신사동 41-3 신사동 성당">
      </div>
      <div class="col">
        <button type="submit" class="btn btn-outline-danger">검색</button>
      </div>
    </div>
  </form>

  <div class="py-5"></div>

  <div class="text-start py-3">
    <h5 th:unless="${user}">즐겨찾기는 로그인 후 가능합니다</h5>
    <h5 th:if="${user}">즐겨찾기 리스트</h5>
  </div>

  <ul th:if="${user}">
    <li th:each="station : ${stations}">
      <a th:href="@{|/stations/${station.id}|}" th:text="${station.address}">즐겨찾기된 거치대</a>
    </li>
  </ul>

</div>
</body>
</html>