<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="../css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <title>상세 화면</title>
    <script type="text/javascript" src="https://oapi.map.naver.com/openapi/v3/maps.js?ncpClientId=c1cxtlonmi"></script>
</head>
<body>
<div class="container">

    <div class="text-center py-5">
        <h2>상세 화면</h2>
    </div>

    <div class="row">
        <div class="col">
            <button type="button" class="btn btn-outline-info"
                    th:onclick="|location.href='@{/stations(page=${page},address=${address})}'|">돌아가기</button>
        </div>
        <div class="col" th:if="${user}">
            <form>
                <input id="userId-bookmark" type="hidden" th:value="${user.id}">
                <input id="stationId-bookmark" type="hidden" th:value="${station.id}">
                <button th:unless="${bookmarkId}" id="bookmark-btn-save" type="button"
                        class="btn btn-outline-warning">즐겨찾기</button>
                <button th:if="${bookmarkId}" th:value="${bookmarkId}" id="bookmark-btn-delete" type="button"
                        class="btn btn-outline-dark">즐겨찾기 해제</button>
            </form>
        </div>
    </div>

    <hr class="my-2">

    <div id="map" class="my-2" style="width:100%;height:400px;">지도</div>

    <div class="row">
        <div class="col" th:text="${station.getAddress()}">주소</div>
        <div class="col" th:text="'거치대 수: ' + ${station.holdNum} + '개'">거치대 수</div>
    </div>

    <hr class="my-2">

    <form th:if="${user}" class="my-2">
        <div class="row">
            <div class="col-10">
                <input id="content" type="text" class="form-control" placeholder="후기를 작성해주세요">
            </div>
            <input id="stationId" type="hidden" th:value="${station.id}">
            <div class="col">
                <button id="review-btn-save" type="button" class="btn btn-outline-primary">작성</button>
            </div>
        </div>
    </form>

    <table>
        <thead>
        <tr>
            <th>글쓴이</th>
            <th>댓글</th>
            <th>작성일</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="review : ${reviews}">
            <td th:text="${review.userName}" style="width: 10%">글쓴이 이름</td>
            <td th:text="${review.content}" style="width: 70%">댓글 내용</td>
            <td th:text="${review.createdAt}">댓글 작성일</td>
            <td th:if="${user} and ${user.id} == ${review.userId}">
                <button th:id="'btn-delete' + ${review.reviewId}" th:value="${review.reviewId}" type="button"
                        class="btn btn-sm btn-outline-danger review-btn-delete">삭제</button>
            </td>
        </tr>
        </tbody>
    </table>

</div>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="/js/review.js"></script>
<script src="/js/bookmark.js"></script>
<script th:inline="javascript">
    const station = [[${station}]];
</script>
<script>
    let mapOptions = {
        center: new naver.maps.LatLng(station.stationLat, station.stationLong), zoom:17
    };

    let map = new naver.maps.Map('map', mapOptions);

    let marker = new naver.maps.Marker({
        position: new naver.maps.LatLng(station.stationLat, station.stationLong),
        map: map
    });
</script>
</body>
</html>