<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="../css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <meta charset="UTF-8">
    <title>상세 화면</title>
</head>
<body>
<div class="container">

    <div class="text-center py-5">
        <h2>상세 화면</h2>
    </div>

    <div></div>

    <hr class="my-2">

    <div>지도</div>

    <div th:class="row">
        <div th:class="col">주소</div>
        <div th:class="col">거치대 수</div>
    </div>

</div>
</body>
</html>